.aside {
    width: 20%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 25px;
    border: 1px;
    flex-direction: column;
    border-color: black;
    justify-content: flex-start;
    align-items: flex-start;
    border-style: groove;
    float: left;
    
}

.profilPic {
    margin-left: 25px;
    display: inline;
    float: left;
}

.about-me {
    margin-right: 15px;
    background: #ee7752;
    border-radius: 5px;
    display: inline;
    
}

.main {
    position: relative;
    flex-wrap: wrap;
    display: inline;
    margin-left: 25%;
    margin-right: 150px;
    float: right;
    margin-top: -65%;
}
