.header {
    background-color: var(--primary);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    color: white;
}
.nav-items{
    display: flex;
    gap: 10px;
    height: 100%;
}
.nav-link {
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /* border-radius: 5px; */
    padding: 10px 20px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: var(--primary-hover);
    /* background: #e1957e; */
}

.heading{
    flex:1 1 50%;
    padding: 10px;
    margin: 0;
}

.header > h1, .header > h2, .header > h3, .header > h4{
    color: white;
}