
.main{
  overflow-y: scroll;
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(-45deg,var(--bg-gradient),var(--primary-bg),  var(--bg-gradient));
  color: var(--primary-text);
  background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}

.btn{
  background-color: #ee7752;
  border:1px solid #ee7752;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 50%);

}

h1,h2,h3,h4{
  color: var(--primary);
}

@keyframes gradient{
  /* 0%{ */
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    /* background: linear-gradient(0deg,var(--primary-bg),  rgba(75, 106, 163, 1)); */
  /* } */
  /* 100%{ */
    /* background: linear-gradient(180deg,var(--primary-bg),  rgba(75, 106, 163, 1)); */
  /* } */
}