
:root{
  --blue:rgba(100,149,237,1);
  --blue-hover: rgba(145, 184, 255, 30%);
  --blue-gradient:rgb(30, 55, 95);


  --orange:rgb(238, 118, 82, 1);
  --orange-hover:rgb(255, 154, 123,30%);
  --orange-gradient:rgb(95, 55, 30);


  --primary-bg:rgb(0,0,0);
  --primary-text:rgb(255,255,255);

  --secondary-bg:rgba(255,255,255,10%);

  --primary:var(--blue);
  --primary-hover:var(--blue-hover);
  --bg-gradient:var(--blue-gradient);

  --secondary:var(--orange);
  --secondary-hover:var(--orange-hover);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
